<head>
</head>
<body>
  <h1>Welcome to E-elections!</h1>
  <% if current_user != nil %>
    <% if !current_user.ownedElections.empty?  %>
      <p> Elections that you own: </p>
      <ul>
        <div class='owned'>
          <% current_user.ownedElections.each do |election| %>
            <li><%= link_to election.title, election %></li>
          <% end %>
        </div>
      </ul>
    <% end %>
    <% if !current_user.participatingElections.empty? %>
      <p> Elections that you can vote in: </p>
      <ul>
        <div class= 'participating'>
          <% current_user.participatingElections.each do |election| %>
            <li><%= link_to election.title, election %></li>
          <% end %>
      </div>
      </ul>
    <% end %>
  <% end %>
</body>
